@import "tailwindcss";

/* Tus estilos extra si quieres */
body {
  background-color: black;
  color: white;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-6px);
  }

  75% {
    transform: translateX(6px);
  }
}